body {
background-color:silver;
font-size: 16px;
font-family: "Times New Roman", Georgia, Serif;
}

div.section {

width:50%
height:auto
background #9cf
padding: 5px 10px;
border: 3px groove;
margin: 4% 2%;
}